body{
    background-color: #333;
    overflow: hidden;
}
#game{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
}
#table{
    position: absolute;
    aspect-ratio: 2/1;
    border-radius: 100vh;
    top: 50%;
    left: 50%;
    width: 80%;
    border-style: solid;
    border-width: 3vw;
    border-color: #000;
    transform: translate(-50%, -50%);
    background: radial-gradient(#080, #030);
}


#table::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-image: url('table_layout.svg');
    z-index: 1;
}

#pot{
    position: absolute;
    color: white;
    background-color: rgba(0,0,0,0.3);
    width: 30%;
    font-size: 20px;
    top: 25%;
    left: 50%;
    padding: 10px;
    border-radius: 100px;
    transform: translate(-50%, -50%);
}

#players .entity{
    position: absolute;
    offset-path: inset(0 0 0 0 round 100vh);
    offset-rotate: 0deg;
}

.entity .playButton{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 20%;
    aspect-ratio: 1/1;
    top: 30%;
    left: 60%;
    padding: 2px;
    border-width: 3px;
    border-radius: 50%;
    &.small{
        background-color: blue;
        border-style: solid;
        border-color: #000;
        color: #fff;
    }
    &.big{
        background-color: yellow;
        border-style: solid;
        border-color: #000;
        color: #000;
    }
    &.dealer{
        background-color: white;
        border-style: solid;
        border-color: #000;
        color: #000;
    }
}

.entity{
    user-select: none;
    color: #fff;
    width: 13%;
    border-radius: 10px;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    background: rgba(0,0,0,0.35);
    align-items: center;
}

.money{
    color: #dd0;
}

.entity img{
    padding: 3px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    width: 75%;
}